/.DS_Store
/SistemesOperatius.vdi
/TP0. Tutorial de Shell Scripting
/TP1.pdf
/arguments.sh
/arguments2validar.sh
/awk.sh
/exercise1.sh
/exercisi2.sh
/grep.sh
/gutenberg
/invalid1.sh
/provagrep.txt
/variables.sh